body{
  background-color: white;
}
img{
  height: 200px;
  width: 200px;
  position: relative;
  margin: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px #B8B8B8 ;
  -moz-box-shadow: 10px 10px 5px 0px #B8B8B8 ;
  box-shadow: 10px 10px 5px 0px #B8B8B8  ;
}
img:hover{
  filter: brightness(75%);
}

h1, h2, h3{
  text-align: center;
}


button{
  clear:both;
  margin: 3px;
}

.form-container{
  margin: 10px;
  clear: both;
}
